# Python
__pycache__/
*.pyc
*.pyo

# Node
node_modules/
dist/
build/

# Môi trường
.env
*.env
chatbot/.env
backend/.env
# Docker volumes
media/

# IDE
.vscode/
.idea/

# SSL certificates
nginx/ssl/
.env.production
